body {
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: goldenrod;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 3px solid black;
}

header .logo {
    padding: 16px;
}

header .title {
    padding:16px;
    flex: 1;
}

header .subtitle {
    padding:16px;
    justify-items: right;
}

.mainArea {
    background-color: tomato;
    margin: 0px;
    padding: 8px;
    flex: 1;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.gameplayArea {
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-evenly;
}

.ruleset {
    border: 3px solid black;
    padding: 16px;
    flex: 1;
    margin: 8px;
}

.tabletop {
    border: 3px solid black;
    padding: 16px;
    flex: 5;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer {
    background-color: goldenrod;
    margin: 0px;
    padding: 8px;
    justify-items: right;
    border: 3px solid black;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 16px 0px;
}

li {
    padding: 8px;
}

.scoreBox {
   margin-left: auto;
   font-weight: 700;
   text-align: right;
}

.scoreBox ul {
    list-style-position: right;
}