body {
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: goldenrod;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

header .logo {
    padding: 16px;
}

header .title {
    padding:16px;
    flex: 1;
}

header .subtitle {
    padding:16px;
    justify-items: right;
}

.gameplayArea {
    background-color: tomato;
    margin: 0px;
    padding: 8px;
    flex: 1;
}

footer {
    background-color: goldenrod;
    margin: 0px;
    padding: 8px;
    justify-items: right;
}